---
http_interactions:
- request:
    method: post
    uri: https://redbooth.com/api/3/tasks
    body:
      encoding: UTF-8
      string: is_private=false&name=test+task&project_id=1244009&task_list_id=2405642&token=<REDBOOTH_TOKEN>
    headers:
      Authorization:
      - Bearer <REDBOOTH_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"a47f01ff20e49ab7ecee7633c48ece0b"'
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"type":"Task","created_at":1411378774,"updated_at":1411378774,"id":14692271,"name":"test
        task","task_list_id":2405642,"comments_count":0,"assigned_id":null,"is_private":false,"project_id":1244009,"urgent":false,"user_id":963980,"position":15,"last_activity_id":null,"record_conversion_type":null,"record_conversion_id":null,"metadata":{},"subtasks_count":0,"resolved_subtasks_count":0,"watcher_ids":[963980],"description":null,"description_html":"","description_updated_by_user_id":null,"updated_by_id":null,"deleted":false,"status":"new","due_on":null}'
  recorded_at: Mon, 22 Sep 2014 09:39:34 GMT
recorded_with: VCR 2.9.3
