---
http_interactions:
- request:
    method: post
    uri: https://redbooth.com/api/3/tasks
    body:
      encoding: UTF-8
      string: description=created+by+task_watchr&is_private=true&name=test+task&project_id=1244009&task_list_id=2405642
    headers:
      Authorization:
      - Bearer <REDBOOTH_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"f0072e5d026120982bbbfc4bd0b13df9"'
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"type":"Task","created_at":1411288336,"updated_at":1411288336,"id":14683420,"name":"test
        task","task_list_id":2405642,"comments_count":0,"assigned_id":null,"is_private":true,"project_id":1244009,"urgent":false,"user_id":963980,"position":5,"last_activity_id":null,"record_conversion_type":null,"record_conversion_id":null,"metadata":{},"subtasks_count":0,"resolved_subtasks_count":0,"watcher_ids":[963980],"description":"created
        by task_watchr","description_html":"<p>\ncreated by task_watchr</p>","description_updated_by_user_id":963980,"updated_by_id":null,"deleted":false,"status":"new","due_on":null}'
  recorded_at: Sun, 21 Sep 2014 08:32:16 GMT
recorded_with: VCR 2.9.3
