---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/mentions_timeline.json?count=200
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_KEY>", oauth_nonce="f7f1eebaa036b5892a435a712bd22f5d",
        oauth_signature="SmlYAJH%2Ffl5Wlz7sMSPdNlm6yxk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1411195150", oauth_token="<TWITTER_ACCESS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 20 Sep 2014 06:39:10 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 31f631ae445c642c4e5c555457de3577
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '2'
      X-Rate-Limit-Reset:
      - '1411195554'
      X-Transaction:
      - a6676a1c1d3461c0
    body:
      encoding: UTF-8
      string: '[{"created_at":"Tue Sep 16 06:09:50 +0000 2014","id":511758840698662912,"id_str":"511758840698662912","text":"@task_watchr_bot
        test tweet 6","source":"\u003ca href=\"http:\/\/tapbots.com\/software\/tweetbot\/mac\"
        rel=\"nofollow\"\u003eTweetbot for Mac\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":2812499594,"in_reply_to_user_id_str":"2812499594","in_reply_to_screen_name":"task_watchr_bot","user":{"id":14788528,"id_str":"14788528","name":"Ilya
        Zayats","screen_name":"somebody32","location":"St. Petersburg","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":155,"friends_count":118,"listed_count":10,"created_at":"Thu
        May 15 16:55:01 +0000 2008","favourites_count":87,"utc_offset":14400,"time_zone":"St.
        Petersburg","geo_enabled":false,"verified":false,"statuses_count":562,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/54229229\/a_fd9b63c6_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/54229229\/a_fd9b63c6_normal.jpg","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"urls":[],"user_mentions":[{"screen_name":"task_watchr_bot","name":"Task
        Watchr Bot","id":2812499594,"id_str":"2812499594","indices":[0,16]}]},"favorited":false,"retweeted":false,"lang":"fr"},{"created_at":"Tue
        Sep 16 06:09:46 +0000 2014","id":511758824697393152,"id_str":"511758824697393152","text":"@task_watchr_bot
        test tweet 5","source":"\u003ca href=\"http:\/\/tapbots.com\/software\/tweetbot\/mac\"
        rel=\"nofollow\"\u003eTweetbot for Mac\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":2812499594,"in_reply_to_user_id_str":"2812499594","in_reply_to_screen_name":"task_watch[...]
