---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/mentions_timeline.json?count=1&since_id=511758804300464128
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_KEY>", oauth_nonce="3e988829346d2e90bb89e1a064272283",
        oauth_signature="TKp56liOCox3FX8vk9oeWr12KC4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1411196644", oauth_token="<TWITTER_ACCESS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 20 Sep 2014 07:04:04 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - fc62d3c7fdd59177bf94ad3384aa1c8b
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '5'
      X-Rate-Limit-Reset:
      - '1411197366'
      X-Transaction:
      - 2007132c8b6d1ee5
    body:
      encoding: UTF-8
      string: '[{"created_at":"Tue Sep 16 06:09:50 +0000 2014","id":511758840698662912,"id_str":"511758840698662912","text":"@task_watchr_bot
        test tweet 6","source":"\u003ca href=\"http:\/\/tapbots.com\/software\/tweetbot\/mac\"
        rel=\"nofollow\"\u003eTweetbot for Mac\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":2812499594,"in_reply_to_user_id_str":"2812499594","in_reply_to_screen_name":"task_watchr_bot","user":{"id":14788528,"id_str":"14788528","name":"Ilya
        Zayats","screen_name":"somebody32","location":"St. Petersburg","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":155,"friends_count":118,"listed_count":10,"created_at":"Thu
        May 15 16:55:01 +0000 2008","favourites_count":87,"utc_offset":14400,"time_zone":"St.
        Petersburg","geo_enabled":false,"verified":false,"statuses_count":562,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/54229229\/a_fd9b63c6_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/54229229\/a_fd9b63c6_normal.jpg","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"urls":[],"user_mentions":[{"screen_name":"task_watchr_bot","name":"Task
        Watchr Bot","id":2812499594,"id_str":"2812499594","indices":[0,16]}]},"favorited":false,"retweeted":false,"lang":"fr"}]'
  recorded_at: Sat, 20 Sep 2014 07:04:05 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/mentions_timeline.json?count=1&max_id=511758840698662911&since_id=511758804300464128
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_KEY>", oauth_nonce="88a594225d7aaab169f6c5900c345f04",
        oauth_signature="DHROtS2LY5z08X4woxq0ddhUDzE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1411196645", oauth_token="<TWITTER_ACCE[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/mentions_timeline.json?count=1&max_id=511758824697393151&since_id=511758804300464128
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_KEY>", oauth_nonce="d2deb5d9e817bda860803b22daa8ac17",
        oauth_signature="%2FkMMPD2g%2FGfsMlDUyDXX2q8arh0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1411196647", oauth_token="<TWITTER_ACCESS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 20 Sep 2014 07:04:07 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 4656197985b2175fd5a471045dc5fc79
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '3'
      X-Rate-Limit-Reset:
      - '1411197366'
      X-Transaction:
      - fe2fbacf9db5c734
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sat, 20 Sep 2014 07:04:09 GMT
recorded_with: VCR 2.9.3
