---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/mentions_timeline.json?count=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_KEY>", oauth_nonce="efd37027b6a77dfdae568c3ac025bd9d",
        oauth_signature="QPuON%2BMCzBF%2B2xZf%2F4E6aI5Wb3c%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1411196552", oauth_token="<TWITTER_ACCESS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 20 Sep 2014 07:02:42 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 6b3fa5b4f7c66bbc50959890961e2d6f
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '13'
      X-Rate-Limit-Reset:
      - '1411197366'
      X-Transaction:
      - 4b79da9016c61f60
    body:
      encoding: UTF-8
      string: '[{"created_at":"Tue Sep 16 06:09:50 +0000 2014","id":511758840698662912,"id_str":"511758840698662912","text":"@task_watchr_bot
        test tweet 6","source":"\u003ca href=\"http:\/\/tapbots.com\/software\/tweetbot\/mac\"
        rel=\"nofollow\"\u003eTweetbot for Mac\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":2812499594,"in_reply_to_user_id_str":"2812499594","in_reply_to_screen_name":"task_watchr_bot","user":{"id":14788528,"id_str":"14788528","name":"Ilya
        Zayats","screen_name":"somebody32","location":"St. Petersburg","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":155,"friends_count":118,"listed_count":10,"created_at":"Thu
        May 15 16:55:01 +0000 2008","favourites_count":87,"utc_offset":14400,"time_zone":"St.
        Petersburg","geo_enabled":false,"verified":false,"statuses_count":562,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/54229229\/a_fd9b63c6_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/54229229\/a_fd9b63c6_normal.jpg","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"urls":[],"user_mentions":[{"screen_name":"task_watchr_bot","name":"Task
        Watchr Bot","id":2812499594,"id_str":"2812499594","indices":[0,16]}]},"favorited":false,"retweeted":false,"lang":"fr"}]'
  recorded_at: Sat, 20 Sep 2014 07:02:46 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/mentions_timeline.json?count=1&max_id=511758840698662911
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_KEY>", oauth_nonce="ceff80abf1e3351865b7f81ddf60eb59",
        oauth_signature="CL8LkvQE%2Fue3na2UcEAGM27AN5w%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1411196566", oauth_token="<TWITTER_ACCESS_TOKEN>", oauth_version=[...]
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/mentions_timeline.json?count=1&max_id=511751989399527423
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_KEY>", oauth_nonce="5d5ec90e9fabb136c957b8efe9ae1b42",
        oauth_signature="YqrphPVqlA0JM%2Fjt9DZUVtLBtJA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1411196574", oauth_token="<TWITTER_ACCESS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 20 Sep 2014 07:02:54 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 1381d8198a9fb096d594b14a05ab9b2c
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '7'
      X-Rate-Limit-Reset:
      - '1411197366'
      X-Transaction:
      - 5ae90f040d457bc2
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sat, 20 Sep 2014 07:02:56 GMT
recorded_with: VCR 2.9.3
