<h1>Current Fetchr Status — Status</h1>

<p>Twitter Account Status</p>
<p>State</p>
<p><button>Connect/Disconnect</button></p>

<h2>Adapters' State</h2>
<p>Redbooth</p>
<p>State</p>
<p><button>Connect</button></p>
<p><%= link_to "Configure", edit_redbooth_settings_path %></p>

<h2>Stats?</h2>
