<h1>Fetchr is running? — <%= SocialFetchr.running? %></h1>

<p>Twitter Account Status</p>
<p>State</p>
<p><%= button_to "Connect", "/auth/twitter/", method: "get" %></p>

<h2>Adapters' State</h2>
<p>Redbooth</p>
<p>State</p>
<p><p><%= button_to "Connect", "/auth/redbooth/", method: "get" %></p></p>
<p><%= link_to "Configure", edit_redbooth_settings_path %></p>

<h2>Stats?</h2>

<button>Run!</button>
